@font-face {
  font-family: 'Twilight';
  src: url('/src/LD\ Twylight.ttf')
}

.App {
  width: 100%;
}

:root {
	--star-size: 2.25em;
  --star-color: #9B3675;
  --star-background: #e8e0eb;
}

 .Stars {
	 --percent: calc(var(--rating) / 5 * 100%);
	 font-size: var(--star-size);
   width: 100%;
	 font-family: 'Poppins', sans-serif;
   text-align: center;
}

 .Stars::before {
	 content: '★★★★★';
	 background: linear-gradient(90deg, var(--star-color) var(--percent), var(--star-background) var(--percent));
   background-clip: text;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}

body {
  background-color: #d0c1d7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

#stickyTop {
  flex: 1 1 auto;
  /* overflow: hidden; */
  background-color: #022E57;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
}

#top {
  display: flex;
}

#mtgString {
  display: flex;
  align-items: center;
  margin: 0em .75em;
  color: #FFFFFF;
  font-size: 1em;
}

p#nextMtg {
  display: flex;
  justify-content: center;
  overflow-wrap: break-word;
  align-items: center;
  color: #d0c1d7;
  margin: .5em;
  font-size: 1.5em;
}

#playPause {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0em .5em;
  line-height: 150%;
  font-size: 2em;
  color: #d0c1d7;
}

#nextDiscussion {
  display: flex;
  align-items: center;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* .header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 60px;
} */

.title {
  display: flex;
  flex-flow: column;
  flex-direction: wrap;
  justify-content: center;
  margin: 1em;
}

/* .countdown {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: .25em;
  width: 95%;
} */

/* .readingTimer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
} */

/* #triviaGame {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
} */

/* p#rTimer {
  font-size: 1.5em;
  color: #9B3675;
} */

/* #readingBtn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
} */

/* #btn15, #btn30, #btn60 {
  flex: 0 1 auto;
  background-color: #e8e0eb;
  color: #022E57;
  max-width: 100px;
  padding: 5px 10px;
  font-family: "Otomanopee One", 'Oswald', sans-serif;
  font-size: 1.5em;
  border: 2px solid #022E57;
  border-radius: 10px;
  margin: 10px;
} */

/* #btn15:hover, #btn30:hover, #btn60:hover {
  cursor: pointer;
  background-color: #022E57;
  border: 2px solid #022E57;
  color: #E8E0EB;
} */

/* #inputRTimer {
  max-width: 250px;
  border: 2px solid #022E57;
} */

/* #trivia {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 95%;
} */

/* h3 {
  text-align: center;
  word-break: break-word;
  font-family: "Acme", sans-serif;
  font-size: 1em;
  color: #022E57;
  margin: 0px;
} */

figure {
  display: flex;
  flex-flow: column;
  padding: 5px;
  margin: auto;
}

figcaption {
  background-color: #11144C;
  color: white;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

#description {
  margin: 0;
  color: #000000;
  font-family: "Acme", sans-serif;
  font-size: 1.75em;
}

/* #play {
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
  font-size: 2.5em;
  border: 0px;
  padding: 0px 10px;
  margin: 0px;
} */

#input-container {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

#search-two {
  width: 80%;
}

input {
  background-color: #e8e0eb;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #022E57;
  border-radius: 10px;
}

/* #question {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  padding: 5px;
  min-width: 350px;
  flex: 1;
} */

/* #guess {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  max-width: 220px;
} */

/* #playbutton {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  margin: 0px 15px;
  background-color: #e8e0eb;
  font-family: "Acme", sans-serif;
  font-size: 2.25em;
  border: 2px solid #9B3675;
  border-radius: 10px;
  padding: 3px 12px;
} */

/* #playbutton:hover {
  cursor: pointer;
  background-color: #9B3675;
  border: 2px solid #9B3675;
  color: #E8E0EB;
} */

#quote {
  display: flex;
  justify-content: center;
}

#quotebutton {
  background-color: #e8e0eb;
  color: #022E57;
  cursor: pointer;
  padding: 10px;
  font-family: "Otomanopee One", 'Oswald', sans-serif;
  font-size: 1.5em;
  border: 2px solid #022E57;
  /* margin-bottom: 1.5rem; */
  border-radius: 10px;
}

#quotebutton:hover {
  background-color: #022E57;
  color: #E8E0EB;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 1em;
  text-align: center;
  word-break: break-word;
  font-family: "Twilight", "Architects Daughter", cursive;
  font-size: 3.5em;
  color: #022E57;
}

p {
  flex: 1;
  text-align: center;
  word-break: break-word;
  font-family: "Acme", sans-serif;
  font-size: 2.25em;
  color: #022E57;
  margin: 0px;
}

.author {
  font-size: 1.5em;
  font-weight: 300;
}

.twilight {
  font-family: "Twilight";
  font-weight: bolder;
}

p.buttontext {
  font-size: 1em;
}

/* .buttontext {
  color: #9B3675;
} */

a {
  color: #022E57;
  text-decoration: none;
}

img {
  border: 4mm ridge #9B72AA;
  margin-bottom: 10px;
  width: 310px;
  height: 475px;
}

/* img#picPlay {
  background-color: none;
  margin: 0px;
  border: none;
  height: 60px;
  width: 60px;
} */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  flex-wrap: wrap;
  margin: 10px;
}

.pictures {
  display: flex;
  justify-content: center;
}

.book {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 340px;
  margin: 0px 15px 20px 15px;
}

/* .swal2-html-container,
#swal2-html-container .swal2-title {
  color: white;
  text-align: center;
  font-family: "Architects Daughter", cursive;
} */

/* button.swal2-confirm.swal2-styled {
  background-color: #9B3675;
  color: white;
  font-family: "Architects Daughter", cursive;
} */

/* img.swal2-image {
  border: none;
} */

@media all and (max-width: 900px) {
  body {
    font-size: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #stickyTop {
    flex-flow: column wrap;
  }

  #input-container {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: .5em;
  }

  .header {
    display: flex;
    flex-flow: column wrap;
  }

  span {
    text-align: center;
    word-break: break-word;
  }

  .music {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 250px;
  }

  .countdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  input {
    display: flex;
    justify-content: center;
  }

  h1 {
    margin: 1rem;
    text-align: center;
    word-break: break-word;
    width: 98%;
  }

  #quotebutton {
    border: 1px solid #022E57;
    margin-bottom: 10px;
  }
  
  /* .block {
    padding: 0px 10px;
  } */

  p {
    flex: 1;
    text-align: center;
    word-break: break-word;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
  }

  .book {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 230px;
  }

  img {
    width: 200px;
    height: 306px;
  }

  img#picPlay {
    background-color: none;
    border: none;
    height: 60px;
    width: 60px;
  }
}

@media all and (max-width: 500px) {  
  body {
    font-size: 9px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 0px;
    width: 95%;
  }

  span {
    padding: 1px;
  }

  .music {
    flex: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .countdown {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
  }

  /* .element {
    margin: 0px;
    padding: 0px;
  } */

  /* .block {
    padding: 5px;
  } */

  #playbutton {
    border: 1px solid #9B3675;
    border-radius: 10px;
    padding: 10px 15px;
  }
  
  #quotebutton {
    border: 1px solid #022E57;
    margin-bottom: 10px;
  }

  input {
    display: flex;
    justify-content: center;
    margin: 0px 5px;
    padding: 5px;
    border: 1px solid #022E57;
    border-radius: 10px;
  }

  h1 {
    text-align: center;
    word-break: break-word;
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
  }

  .book {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 161px;
  }

  p.buttontext,
  input#guess {
    margin: 0px 5px;
  }

  img {
    border: 3mm ridge #9B72AA;
    width: 105px;
    height: 161px;
  }

  img#picPlay {
    background-color: none;
    padding: none;
    margin: none;
    border: none;
    height: 35px;
    width: 35px;
  }
}
